
/* body ===========================================================*/
body{
    background-color:rgb(90, 88, 88);
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
}

/*============================= header ===============================*/

#header{
    background-color: #738374;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
    
}

#header h3{
    font-size:200%;
    text-align:center;
    color: #e5e4d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 90px;

}

/*================================== NavBar ==============================*/

#navbar ul{
    background-color: #000000;
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    
}

#navbar ul li{
    display: inline;
    
}

#navbar ul li a{
    text-decoration:none;
    padding: .2em 30px;
    margin: 30px;
    color: rgb(255, 255, 255);
    
}

#navbar ul li a:hover{
    background-color: white;
    color: black;
}
/*===================================Main================================*/

.main{
    background-color: #e5e4d7;
    margin: 10px;
    margin-right:320px;
    padding: 10px;
    border-radius: 5px;
    font-size: 110%;
} 
.main h2{
    color: #ce282e; 
}

h1{
    font-size: 120%;
    color: #ce282e;
}

/*================================right panel =========================*/

.sideright{
    background-color:#e5e4d7;
    margin: 0px 10px 10px 10px;
    padding: 20px;
    float: right;
    width: 260px;
    border-radius:5px;
    clear: right;
}
.sideright a{
    text-decoration: none;
}
.sideright p{
    color: black;
}
.sideright p:hover{
    color: blue;
}
.sideright h2{
    color:#ce282e;
}

/*==================================== sideimage ===========================*/

.sideimage{
    width: 300px;
    float: right;
    margin: 5px 10px 10px 0px;
    clear: right;
    border-radius:5px;
    opacity:1.0;
    transition: opacity 0.5s eas-in-out;
}
.sideimage:hover{
    opacity:0.5;
}


/*=========================================footer=============================*/

#footer{
    background-color:#738374;
    margin:10px;
    height: 60px;
    clear:both;
    border-radius:5px;
    text-align: center;
    color: black;
    font-size: 90%;
}

#footer ul{
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
}

#footer ul li{
    display: inline;
}

#footer ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #efe5d0;
    
}

#footer ul li a:hover{
    color:black;
    
}

@media (max-width:900px){
    body{
        background-color: white;
    }
}