body{
  background-color: rgb(68, 68, 68);
}
button{
  height: 30px;
  margin: 5px;
  border: #2b0537;
  background-color: hsl(286, 37%, 43%);
  color: white;
}

.div1{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.div1 button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.div1:not(:last-child){
    margin-bottom: 50px;
}
#more{
   display: none;
}


#theform{
    background-color: #a38baa;
    color: #8111a3;
    padding: 20px;
    border: 1px solid hsl(286, 37%, 43%);
    display: table;
  }
  
  .row{
    display: table-row;
  }
  
  .row label{
    padding-right: 5px;
    text-align: right;
    display: table-cell;
  }
  
  .row input{
    border: 1px solid hsl(286, 37%, 43%);
    display:table-cell;
  }
  